
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:orange;font-size:45px;">
        <b>Little Man Auctions</b>    
    </div>
    <div>
        <pre>
            Hello,

            Thank you for signing up for Little Man Auctions.
            To complete the process, please verify your email to complete your registration! <br />
            Click <a href="@ViewBag.ConfirmationLink">Here</a>
        </pre>
    </div>
</body>
</html>
